body {
    padding: 70px;
}
form {
    width: 40%;
}

#about {
    width: 70%;
}
#barcode-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    text-align: center;
}
.barcode {
    width: 200px;
    height: 60px;
}
.priceImgWrapper {
    display: flex;
    flex-direction: column;
}
#error-message, #nan-error {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background: rgba(236, 114, 114, 0.288);
}